.projects {
    font-family: 'Magdelin';
    font-size: 23px;
    padding-top: 100px;
    padding-left: 137px;
}

.projects-heading {
    font-family: 'Origin' !important;
    font-size: 150px !important;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Origin';
}

.internships {
    font-family: 'Magdelin';
    font-size: 30px;
    padding-top: 75px;
    padding-left: 137px;
}

.internships-heading {
    font-family: 'Origin' !important;
    font-size: 150px !important;
}