.title-block {
    background-color: #141414;
    color: #ffffff;
    height: 335px;
    display: flex;
    align-items: center;
}

.title-content-container {
    justify-content: left;
    padding-left: 100px;
    padding-top: 30px;
}

.umang-sharma {
    font-family: 'Origin';
    font-size: 165px;
    padding-top: 0;
    height: 110px;
    display: flex;
    justify-content: left;
}

.img-button {
    margin-right: 5px;
    margin-left: 5px;
}

.animation {
    font-family: 'Magdelin';
    font-size: 30px;
    display: flex;
    justify-content: left;
    margin-top: 60px;
}
